<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="soundFile" serializeAs="String">
                <value>C:\Develop\sound\crrect_answer3.wav</value>
            </setting>
            <setting name="keyCode" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="cameraWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="cameraHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="SaveImageFolder" serializeAs="String">
                <value>C:\Develop\img\</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>